/* #editProduct{
    background-image: url('../../../assets/images/form2.jpeg');
    background-size: contain;
  } */
#editProduct .wrapper{
    /* background-color: black;
    opacity: .6; */
    padding: 30px;
}
#editProduct .form-control{
    background-color: transparent;
    color: #1b1b1b;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}
#editProduct label{
    font-size: 1rem;
    /* color: #FFFFFF; */
    color: #1d1d1d;
}
#editProduct input:focus,
#editProduct textarea:focus,
#editProduct select:focus{
    box-shadow: none;
}
#editProduct .btn{
    outline: none;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out;
    box-shadow: none;
    margin-right: 10px;
}
#editProduct .btn#save{
    border: 1px solid #3A9D5D;
    background-image: 
        linear-gradient(to top, hsl(0, 0%, 100%) 50%, #3A9D5D 50%),
        linear-gradient(to top, #3A9D5D 50%, transparent 50%);
}
#editProduct .btn#cancel{
    border: 1px solid #F63C3A;
    background-image: 
        linear-gradient(to top, hsl(0, 0%, 100%) 50%, #F63C3A 50%),
        linear-gradient(to top, #F63C3A 50%, transparent 50%);
}

#editProduct .btn:hover{
    background-position: bottom;
}